compressai==1.2.6
einops==0.8.1
lightning==2.5.1
matplotlib==3.10.3
numpy==2.2.5
opencv_python==4.11.0.86
Pillow==11.2.1
pydantic==2.11.4
pydantic_yaml==1.4.0
pytorch_msssim==1.0.0
PyYAML==6.0.2
rich==14.0.0
torch==2.6.0
torchvision==0.21.0